.playlist-card {
    text-align: center;
    float: left;
    margin: 10px;
    background-color: greenyellow;
    border: 5px black solid;
    color: black;
}

.title-song-playlist {
    font-weight: bold;
}