.form-playlist {
    padding: 20px;
    border: 6px solid greenyellow;
    font-size: 20px;
    background-color: black;
}

.title-form {
    margin: 5px;
    padding: 5px 0;
}

.desc-form {
    padding: 5px;
    margin: 5px;
}