.Container {
  margin: auto;
  width: 50%;
  text-align: center;
  background-color: blanchedalmond;
  border: 10px palegoldenrod solid;
  width: 100px 100px;
}

.cover-song img {
  margin: 30px 0;
}

.button-select button {
  margin: 10px;
  font-size: 16px;
}