.App {

  width: 50%;
  text-align: center;
  margin: auto;
}

.song {
  background-color: blanchedalmond;
  border: 10px palegoldenrod solid;
  width: 100px 100px;
}

.song img {
  margin: 30px 0;
}

.song button {
  margin: 10px;
  font-size: 16px;
}